<!doctype html>
html
  head
    title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
  head
  body
    form(action="/login" method="POST")
      table
        tr
          td login
          td
            input(type="text" name="login")
        tr
          td password
          td
            input(type="text" name="pass")
        tr
          td
            input(type="submit" class="button-z1")
          td
    a(href="/" class="button-z1") back