<!doctype html>
html
  head
    title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
  head
  body
    if user
      p Hello 
        span #{user}
      a(href="/logout" class="button-z1") logout
    else
      a(href="/auth" class="button-z1") enter