<!doctype html>
html
  head
    title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
  head
  body
    h2!=login
    a(href="/auth") enter