<!doctype html>
html
  head
    title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    script(src="js/app.js")
  head
  body
    div(class="wrap")
      header
        p Upload Page
          a(href="/logout" class="button") logout
      nav(class="main")
        a(href="/" class="button") Main
        a(href="/error" class="button") error
      form
        //- p
        //-   label(for="file-name") File name:
        //-   input(type="text" name="name" id="file-name")
        p
          input(type="file" name="file" id="file")
          span(class="upload-status")
            span(class="upload-status-0")
            span(class="upload-status-1")
        p
          button(id="upload-file" class="button") upload file